我想写一个能使用AI的galgame，使用python语言。
需求
1. 玩家可以设定游玩时间，例如游玩一个小时，然后游戏就能生成一个小时的剧情。
2. 如果玩家设定了人物数量和人物设定，可以生成相对应的人物立绘。同样的玩家也可以设定自己所扮演的角色的设定。
3. 如果玩家设定了剧情，剧本需要根据剧情来编写。同时游戏可以生成背景和偶尔出现的CG。
4. 如果玩家设定了这是多条线的剧情，需要可以是多条结局+选项的剧情和内部flag设定。
5. 生成了的游戏以后可以重复游玩，并且可以保存下来。
6. 玩家所扮演的角色，可以在游玩过程中修改玩家角色的台词，或者在游戏边边给出其他的台词选项，但是平时隐藏起来，鼠标移动过去以后可以显示出别的台词选项，以及玩家想要自己输入台词时的选项。接下来的剧情有可能会根据玩家的台词发生变化，甚至出现结局的不同。